fastapi==0.115.0
uvicorn==0.30.6
torch==2.5.0
torchvision==0.21.0
pillow
numpy
scikit-learn
pydantic
python-multipart
pytorch-grad-cam @ git+https://github.com/jacobgil/pytorch-grad-cam.git
